<body>
<header>
    <div class="page-header">
      <div align="middle" justify="center">
        <h1 class="title">Attendance Tracker System</h1>
      </div>
    </div>
  </header>
  <div class="container" >
            
    <button class="b1" routerLink="/add-employee" routerLinkActive="active">Add Employee</button>
    <button class="b1" routerLink="/attendance" routerLinkActive="active" >Check-In</button>
    <button class="b2" routerLink="/check-out" routerLinkActive="active">Check-Out</button>
    <button class="b2" routerLink="/" routerLinkActive="active">Delete Employee</button>
    <button class="b2" routerLink="/search" routerLinkActive="active">Search</button>

<button class="b3" routerLink="/" routerLinkActive="active">Logout</button>

</div>

</body>



