<div class="registration-form-card">
  <div class="title">Registration</div>
  <h1>Employee Registration</h1>
  <div class="content">
    <form (ngSubmit)="registerEmployee()" [formGroup]="registerForm" >
      <div class="user-details">
        <div class="input-box">
          <span class="details">Employee DOB</span>
          <input
            type="text"
            name="emp_dob"
            formControlName="emp_dob"
            placeholder="YYYY-MM-DD"
          />
          <br />
        </div>
        <div class="input-box">
          <span class="details">Employee Email</span>
          <input
            type="email"
            name="emp_email"
            formControlName="emp_email"
            placeholder="email"
          />
          <br />
        </div>
        <div class="input-box">
          <span class="details">Customer First name</span>
          <input
            type="text"
            placeholder="First Name"
            name="emp_fname"
            formControlName="emp_fname"
          />
          <br />
        </div>
        <div class="input-box">
          <span class="details">Customer Last name</span>
          <input
            name="emp_lname"
            formControlName="emp_lname"
            placeholder="Last Name..."
            type="text"
          />
          <br />
        </div>
      </div>

      <div>
        <Button type="primary" class="registration-form-submit-button">
          SUBMIT
        </Button>
      </div>
    </form>
  </div>
</div>
