<div class="registration-form-card">
  <div class="title">Registration</div>
  <h1>Employee Check_in</h1>
  <div class="content">
    <form (ngSubmit)="registercheckin()" [formGroup]="checkinForm" >
      <div class="user-details">
        <div class="input-box">
          <span class="details">Employee ID</span>
          <input
            type="number"
            name="emp_id"
            formControlName="emp_id"
            placeholder="Employee ID"
          />
          </div>
          </div>
          <div>
            <Button type="primary" class="registration-form-submit-button">
              SUBMIT
            </Button>
          </div>
          </form>
          </div>
          </div>
          