<div class="container" >
    <body>
        <div class="container" >
            <!-- <button routerLink="/add-employee" routerLinkActive="active">Add Employee</button> -->
            <button class="b1" routerLink="/attendance" routerLinkActive="active" >Check-In</button>
            <button class="b2" routerLink="/attendance" routerLinkActive="active">Check-Out</button>
            <!-- <button>Search</button> -->
            <button class="b3" routerLink="/" routerLinkActive="active">Logout</button>
        </div>
        </body>
</div>